<%= form_for(@access_level) do |f| %>
  <% if @access_level.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@access_level.errors.count, "error") %> prohibited this access_level from being saved:</h2>

      <ul>
      <% @access_level.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.number_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :user_level %><br>
    <%= f.number_field :user_level %>
  </div>
  <div class="field">
    <%= f.label :frozen %><br>
    <%= f.check_box :frozen %>
  </div>
  <div class="field">
    <%= f.label :banned %><br>
    <%= f.check_box :banned %>
  </div>
  <div class="field">
    <%= f.label :admin %><br>
    <%= f.check_box :admin %>
  </div>
  <div class="field">
    <%= f.label :admin_level %><br>
    <%= f.number_field :admin_level %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
