<h1>Listing access_levels</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>User level</th>
      <th>Frozen</th>
      <th>Banned</th>
      <th>Admin</th>
      <th>Admin level</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @access_levels.each do |access_level| %>
      <tr>
        <td><%= access_level.user_id %></td>
        <td><%= access_level.user_level %></td>
        <td><%= access_level.frozen %></td>
        <td><%= access_level.banned %></td>
        <td><%= access_level.admin %></td>
        <td><%= access_level.admin_level %></td>
        <td><%= link_to 'Show', access_level %></td>
        <td><%= link_to 'Edit', edit_access_level_path(access_level) %></td>
        <td><%= link_to 'Destroy', access_level, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Access level', new_access_level_path %>
