<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @access_level.user_id %>
</p>

<p>
  <strong>User level:</strong>
  <%= @access_level.user_level %>
</p>

<p>
  <strong>Frozen:</strong>
  <%= @access_level.frozen %>
</p>

<p>
  <strong>Banned:</strong>
  <%= @access_level.banned %>
</p>

<p>
  <strong>Admin:</strong>
  <%= @access_level.admin %>
</p>

<p>
  <strong>Admin level:</strong>
  <%= @access_level.admin_level %>
</p>

<%= link_to 'Edit', edit_access_level_path(@access_level) %> |
<%= link_to 'Back', access_levels_path %>
